*.py[cod]

# Tox
.cache
coverage.xml

# C extensions
*.so

docs/_build
docs/_static
docs/django_nyt*rst
docs/modules.rst

test-project/testproject/prepopulated.db

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.idea
.mr.developer.cfg
.project
.pydevproject
.venv
