include LICENSE
include README.rst
include setup.cfg
include requirements.txt
# None of these exist
# recursive-include django_nyt *.html *.txt *.png *.js *.css *.gif *.less *.mo *.po *.otf *.svg *.woff *.eot *.ttf
